<div *ngIf="current">
  <div>
    <span>{{current.city}}, {{current.country}} </span>
    <span> {{current.date | date:'fullDate'}}</span>
  </div>
  <div>
    <img [src]='current.image'>
    <span>{{current.temperature | number:'1.0-0'}}℉</span>
  </div>
  <div>
    {{current.description}}
  </div>
</div>
